@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
}

.df {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

header {
    padding: 20px;
    background: #fff;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    height: 100vh;
}
.product{
    height: 130vh !important;
}

@media(max-width: 1600px) {
    .container {
        max-width: 1235px;
    }
}

@media(max-width: 600px) {
    header, .product {
        height: 168vh;
    }
}
